<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Game Replay.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>7C0B7C8B1B4573E100228171</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7C0B7C9F1B4573E100228171</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7C0B7CAA1B4573E100228171</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
